// 关于我们
@import "./include/reset.styl"
@import "./variable/color.styl"
@import "./variable/var.styl"
.about
  .about-bd
    padding 60px 0
    .tt
      font-size 30px
      line-height 30px
      text-align center
      color $textColor_4
    .bd
      margin-top 46px
      color $textColor_1
      font-size 18px
      line-height 30px