// 成果展示
@import "./include/reset.styl"
@import "./variable/color.styl"
@import "./variable/var.styl"

.cgzs
  .cgzs-mn
    font-size 0
    text-align center
    padding 14px 0
    .item
      border 3px solid $bgColor_4
      border-radius 9px
      width 547px
      height 300px
      display inline-block
      margin 14px 18px
      .item-bd
        padding 29px 38px
        overflow hidden
        img
          float left
        .cnt
          width 360px
          float right
          font-size 18px
          line-height 30px
          text-align left