@import "./variable/color.styl"
.footer
  height auto
  background-color $bgColor_3
  a
    color: $textColor_1
  .ft-cnt
    padding 43px 0 33px
    overflow hidden
    font-size 0
    .ft-cell
      float left
      width 33.333%
      .item
        width 286px
        overflow hidden
        &.first
          float left
        &.second
          margin 0 auto
        &.third
          float right
        .lbl
          font-size 18px
          color $textColor_4
          height 1em
          line-height 1em
          text-align left
          padding-bottom 17px
          border-bottom 1px solid $textColor_4
        .bd
          font-size 14px
          line-height: 2em
          margin-top: 13px
  .site
    .tt
      padding 33px 0 28px
      text-align center
      font-size 24px
      line-height 1em
      color $textColor_4
      border-bottom 1px solid $textColor_4
    .bd
      font-size 0
      text-align center
      .item
        display inline-block
        width 33.333%
        font-size 14px
        padding 26px 0
