@import "./variable/var.styl"
.search
  font-size 0
  .iptTxt
    width myRatio(282px)
    height myRatio(50px)
    background url("../imgs/ipt-search.png") transparent 0 0
    background-size 100% 100%
    padding 0 myRatio(32px)
  .btnSubmit
    float right
    background url("../imgs/btn-search.png") transparent 0 0
    background-size 100% 100%
    width myRatio(73px)
    height myRatio(50px)