@import "./variable/color.styl"
.top
  color $textColor_1
  height 60px
  line-height 60px
  font-size 18px
  background-color #f8f8f8
  .container
    .bd
      text-align right
    a
      font-size 18px
      color: $textColor_1