@import "./include/reset.styl"
@import "./variable/color.styl"
@import "./variable/var.styl"

.xxgs
  .xxgs-main
    margin 20px 0 44px
    .container
      overflow hidden
      .aside
        float left
        width 260px
        .tt
          height 50px
          line-height 50px
          text-align center
          font-size 24px
          color #ffffff
          background-color #2084da
        .bd
          border 1px solid $bgColor_4
          background-color $bgColor_1
          padding 11px 20px
          .item
            display block
            background-color #ffffff
            padding 0 16px
            height 40px
            line-height 40px
            color $textColor_1
            font-size 18px
            margin-bottom 11px
            span
              color #cccccc
              margin-right 12px
            &.on
              color #ffffff
              background-color #72a7de
              span
                color #ffffff
      .xxgs-cnt
        width 858px
        float right
        .tt
          height 56px
          line-height 56px
          text-align center
          color $textColor_4
          font-size 30px
        .line-1,
        .line-2
          border-top 1px dashed transparent
          height 0
        .line-1
          margin-top 9px
          border-color #c58729
        .line-2
          margin 18px 0
          border-color #4b9ae8
        .bd
          margin-top 1px
          color $textColor_1
          li
            font-size 0
            border-bottom 1px solid $bgColor_1
            div
              display inline-block
              font-size 14px
              line-height 36px
          .nav
            text-align center
            color $textColor_4
            background-color $bgColor_1
            div
              line-height 35px
              font-size 18px
          .number
            width 84px
            text-align center
          .name
            width 576px
            color $textColor_4
          .date
            width 198px
            text-align center