@import "./variable/color.styl"
.footer
  padding 40px 0
  height auto
  font-family serif
  background-color $bgColor_1
  a
    color: #ffffff
  .ft-cnt-a
    padding 0 33px
    .bd
      margin-top 35px
      font-size 0
      li
        display inline-block
        width auto
        font-size 24px
        text-align center
        &.first
          margin-left 28px
        &.second
          margin-left 216px
        &.third
          margin-left 260px
  .ft-cnt-b
    margin-top 54px
    overflow hidden
  .lbl
    font-size 25px
    color #00a79d
    width 207px
    line-height 26px
    height 26px
    text-align left
    padding-bottom 13px
    border-bottom 1px solid #00a79d
  .item
    overflow hidden
    &.first
      margin-left 33px
      width 355px
      float left
    &.second
      float left
      width 410px
    &.third
      float right
      width 336px
    .bd
      margin-top 17px
      line-height 32px
      font-size 19px