@import "./include/reset.styl"
@import "./include/header.styl"
@import "./include/search.styl"
@import "./include/nav.styl"

.home
  background-color royalblue
  h1
    color antiquewhite
  h2
    color black
  .main-div
    background url("../imgs/img1.jpg") 0 0 no-repeat
    width 800px
    height 600px
  .icon
    width 84px
    height 84px
    background 0 0 no-repeat
    &.icon-main
      background-image url("../imgs/icon/nav_main_normal.png")
    &.icon-find
      background-image url("../imgs/icon/nav_find_normal.png")
    &.icon-me
      background-image url("../imgs/icon/nav_me_normal.png")