@import "./include/reset.styl"
@import "./include/header.styl"
@import "./include/search.styl"
@import "./include/nav.styl"

.index
  .top
    height 5px
    background-color brown
  .header
    height 85px
    border-bottom 1px solid #333333
  .footer
    height 110px
    background-color #000000
    color #ffffff
  .main-container
    height 200px
