@import "./include/reset.styl"
@import "./include/header.styl"
@import "./include/search.styl"
@import "./include/nav.styl"

.index
  background-color brown
  h1
    font-size 20px
    color chartreuse
  h2
    color darkgoldenrod
  .main-div
    background url("../imgs/img2.jpg") 0 0 no-repeat
    width 400px
    height 300px
  .icon
    width 84px
    height 84px
    background 0 0 no-repeat
    &.icon-main
      background-image url("../imgs/icon/nav_main_click.png")
    &.icon-find
      background-image url("../imgs/icon/nav_find_click.png")
    &.icon-me
      background-image url("../imgs/icon/nav_me_click.png")
