.search
  font-size 0
  .iptTxt
    width 200px
    height 32px
    border 1px solid #c2c2c2
    border-radius 10px 0 0 10px
    border-right none
    padding 0 20px
  .btnSubmit
    float right
    background url("../imgs/icon-magnifier.png") 50% 50% no-repeat #ff9933
    width 50px
    height 34px
    border-radius 0 10px 10px 0